<h2>
    Mandame un mail
</h2>

<h2>Contacto Rapido</h2>

                    <form action="" className="formulario">
                        <p>
                            <label for="">Nombre</label>
                            <input type="text" />
                        </p>
                        <p>
                            <label for="">Email</label>
                            <input type="email" />
                        </p>
                        <p>
                            <label for="">Teléfono</label>
                            <input type="text" />
                        </p>
                        <p>
                            <label for="comentario">Comentario</label>
                            <textarea id="comentario"></textarea>
                        </p>
                        <p className="acciones">
                            <input type="submit" value="Enviar" />
                        </p>

                    </form>