<h2 class="admin">
    --NOSOTROS--
</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consequatur omnis praesentium, beatae incidunt distinctio assumenda fugiat? Vero nostrum earum placeat consectetur, delectus, impedit error quidem ducimus perferendis alias ipsam!</p>

