<h2 style="color: blue;" >
    Página de SERVICIOS!!
</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quos iure alias cumque minus voluptatem perspiciatis, fugiat molestias officiis, autem repudiandae ratione sunt illo officia tempore cupiditate! Deleniti, facere molestiae?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, adipisci modi recusandae veniam ducimus alias, tempora quisquam sint quis eveniet quam quo necessitatibus. Quod, magnam repellendus dolorem facilis adipisci sequi?</p>